@model EmployeeInformationViewModel;
@{
    ViewData["Title"] = "Create";
    string name = "Create Employee";
    string action = "CreateEmployee";
    if (ViewBag.Update == true)
    {
        name = "Update Employee";
        action = "UpdateEmployee";
    }
}
<div>
    <h3 class="text-center my-4">
        @name
    </h3>
    <form asp-action="@action">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input type="text" class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName" class="d-block mt-2 text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input type="text" class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName" class="d-block mt-2 text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Age">Age</label>
            <input type="text" class="form-control" asp-for="Age" />
            <span asp-validation-for="Age" class="d-block mt-2 text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Designation">Designation</label>
            <input type="text" class="form-control" asp-for="Designation" />
            <span asp-validation-for="Designation" class="d-block mt-2 text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Salary">Salary</label>
            <input type="text" class="form-control" asp-for="Salary" />
            <span asp-validation-for="Salary" class="d-block mt-2 text-danger"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark btn-lg mt-4" style="width:150px;">Save</button>
        </div>

    </form>
</div>
