@{
    ViewData["Title"] = "Performance";
}

<div>

    <h3 class="text-center">Employee Performance</h3>
    <div class="container mt-5 pt-4">
        <div class="row">
            <div class="col-4 text-center">
                <h4>Functionality</h4>
            </div>
            <div class="col-8 text-center">
                <div id="chartContainer" style="height:400px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>



<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                fontSize: 25,
                margin: 40,
                text: "Employees Rating Comparison"
            },
            axisX: {
                titleFontColor: "black",
                padding: 20,
                title: "Employee Name"
            },
            axisY: {
                titleFontColor: "black",
                padding: 20,
                title: "Rating"
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
 }]
        });
        chart.render();
    }
</script>
